/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
:root {
  font-size: 1rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
/* .container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
} */
.section {
  padding: 20px;
  text-align: center;
}
.padding {
  padding: 10px;
}
/* .tablet {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.flex {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: var(--main-background-color);
  color: var(--text-color);
}
h1,
h2,
h3{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}
header {
  border-bottom: 1px solid var(--border-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --text-color: #212121;
  --accent-color: #0443FF;
  --accent-color-hover: #1a0bf3;
  --text-contacts-color: #757575;
  --main-background-color: #FFFFFF;
  --frame-background-color: #F5F4FA;
  --footer-background-color: #3C4043;
  --text-footer-color: rgba(246, 239, 239, 0.918);
  --border-color: #ECECEC; 
  --border: #AFB1B8;
  --input-coor:rgba(33, 33, 33, 0.2);
}
